{% extends "@AppBundle/layout.html.twig" %}

{% block lodash_templates %}
	<script type="text/lodash-template" id="ltpl-movie">
		<div class="nav-item menu-item movie-block" data-movie-id="[[movie_id]]">
			<img src="[[originalCover]]" alt="" class="img-responsive img-thumbnail">
			<div>
				<h1>[[name]]</h1>
				[% if(typeof rating_imdb_value != 'undefined' && rating_imdb_value != '0') { %]
				<span class="pull-left">IMDB: [[rating_imdb_value]]</span>
				[% } %]
				<span class="pull-right">[[hit]] <span class="glyphicon glyphicon-heart"></span></span>
				<div class="clearfix"></div>
			</div>
		</div>
	</script>
	<script type="text/lodash-template" id="ltpl-movie-single">
		<div class="main">
			<div class="title">
				<span class="glyphicon glyphicon-arrow-left nav-item return-to-list"></span>&nbsp;&nbsp;&nbsp;
				<h1>[[name]]</h1>
			</div>
			<img class="poster" src="[[covers[0].original]]"/>
			<div class="description">
				Год: [[year]]<br/>
				Страна: [[countries.join(', ')]]<br/>
				Режиссер: [[directors.join(', ')]]<br/><br/>
				[[description]]
			</div>
			<div class="clearfix">&nbsp;</div>
		</div>
		<div class="navs">
			<div class="ratings">
				[% if(typeof rating_imdb_value != 'undefined' && rating_imdb_value != '0') { %]
				<span>IMDB: [[rating_imdb_value]]</span>
				[% } %]
				<span><span class="glyphicon glyphicon-heart"></span> [[hit]]</span>
			</div>
			<div class="menu">
				<div class="play-block nav-item" data-stream-link="[[stream]]">
					<span class="glyphicon glyphicon-play"></span><br/>
					Смотреть
				</div>
				<div class="clearfix">&nbsp;</div>
			</div>
		</div>
	</script>
	<script>
	_.templateSettings.interpolate = /\[\[([\s\S]+?)\]\]/g
    _.templateSettings.evaluate = /\[%([\s\S]+?)%\]/g

	var DataProvider = {
        remoteHost:"http://online.scts.tv/",
        getCatalog:function(filter, cb){
            var data = {}
            data.action = [this.requestActions.getCatalogQ]
            data.genre = [filter.genre] || undefined
            data.offset = [filter.offset] || [0]
            data.size = [filter.size] || [12]
            data.searchString = [filter.searchString] || undefined
            data.filterStreamingOnly = [filter.filterStreamingOnly] || undefined
            data.excludeSerials = [filter.excludeSerials] || undefined
            data.excludeAnime = [filter.excludeAnime] || undefined
            this.request(data, cb)
        },
        getMovie: function(id, cb){
            var data = {}
            data.action = [this.requestActions.getMovie]
            data.movie_id = [id]
            this.request(data, cb)
        },
        getBestsellers:function(cb){
            var data = {}
            data.action = [this.requestActions.getBestsellers]
            this.request(data, cb)
        },
        getGenres:function(cb){
            var data = {}
            data.action = [this.requestActions.getGenres]
            this.request(data, cb)
        },
        requestParams:{
            type:"POST",
            url: "http://online.scts.tv/api.php?format=ajax",
            contentType:'application/octet-stream charset=utf-8',
            crossDomain:true,
            data:null,
            success:function(response){}
        },
        requestActions:{
            getCatalog:'video.getCatalog',
            getCatalogQ:'video.getCatalogQ',
            getMovie:'videoCustom.getMovie',
            getBestsellers:'video.getBestsellers',
            getGenres:'video.getGenres'
        },
        request:function(data, successCb){
            var rp = this.requestParams
            rp.data = data
            rp.success = successCb
            $.ajax(this.requestParams)
        }
    }
    var Controller = {
        showMoviesList:function(genre, offset, size, searchString){
            var filter = {}
            filter.genre = genre
            filter.offset = offset
            filter.size = size
            filter.searchString = searchString || undefined
            filter.filterStreamingOnly = true
            filter.excludeSerials = (genre != 37) ? true : undefined
            DataProvider.getCatalog(filter, this._renderMoviesListData)
            $('.scene > div:not(.movies-stack)').hide()
            $('.scene .movies-stack').show()
        },
        showMovieInfo:function(id){
            DataProvider.getMovie(id, this._renderMovieInfo)
        },
        hideMovieInfo:function(){
            $('.scene > div:not(.movies-stack)').hide()
            $('.scene .movies-stack').show()
            $$nav.on($(document.body), $('.movies-stack > div:nth-child(1)'))
        },
        playMovie:function(url){
            $('.wrap').hide()
            $('#smart_player').show()
            $('body').css('background','transparent')
            Player.play({url:url, type:'vod'})
        },
        stopMovie:function(){
            Player.stop()
            $('#smart_player').hide()
            $('body').css('background','linear-gradient(210deg, #192342 0%,#0A112D 12%, #101E54 22%,#224693 44%,#1B3159 54%,#132451 74%,#02092D 87%,#05070F 100%)')
            $('.wrap').show()
        },
        _renderMoviesListData:function(data){
            data = JSON.parse(data.replace(/JsHttpRequest.dataReady\((.+)\)/, '$1'))
            console.log(data)
            movies = data.js[0].response.movies
            if(movies != undefined) {
                html = ''
                for (var i = 0; i < movies.length; i++) {
                    movies[i].originalCover = DataProvider.remoteHost + movies[i].originalCover
                    html = html + (_.template($('script#ltpl-movie').text()))(movies[i])
                }
                $('.movies-stack').html(html)
                $$nav.on()
                $$nav.current($('.movies-stack').find($$nav.area_selector).filter(':visible').eq(0))
            }
        },
        _renderMovieInfo:function(data){
            data = JSON.parse(data.replace(/JsHttpRequest.dataReady\((.+)\)/, '$1'))
            console.log(data)
            movie = data.js[0].response.movie
            if(movie == undefined){
                return false
            }
            files = movie.files
            var streams = []
            for(var i = 0; i < files.length; i++){
                if(typeof files[i].links.streams == 'object'){
                    for(str in files[i].links.streams){
                        if(str != undefined){
                            streams.push(files[i].links.streams[str])
                        }
                    }
                }
            }
            movie.stream = streams.pop()
            movie.covers[0].original = DataProvider.remoteHost + movie.covers[0].original
            movieInfoHtml = (_.template($("script#ltpl-movie-single").text()))(movie)
            $('.movie-info').html(movieInfoHtml)
            $('.scene .movie-info').show()
            $$nav.on($('.movie-info'))
        }
    }
    SB.ready(function(){
        $$nav.on()
        $$legend.show()
        Player.play()
        $(function(){
            var offset = 0
            var genre = undefined
            var elsForPage = 12
            var searchString = undefined
            Controller.showMoviesList(genre, offset, elsForPage, searchString)
            $('.menu-items').delegate('li.nav-item','click',function(ev){
                var group_id = $(ev.currentTarget).attr('data-group-id')
                $(ev.currentTarget).addClass('current')
                $(ev.currentTarget).siblings().removeClass('current')
                genre = group_id
                offset = 0
                console.log(group_id)
                $$nav.off()
                Controller.showMoviesList(genre,offset,elsForPage)
            })
            $('.movies-stack').delegate('div.movie-block','click',function(ev){
                var id = $(ev.currentTarget).attr('data-movie-id')
                console.log(id)
                Controller.showMovieInfo(id)
            })
            $('.movie-info').delegate('.play-block','click', function(ev){
                var url = $(ev.currentTarget).attr('data-stream-link')
                console.log(url)
                Controller.playMovie(url)
            })
            $('.movie-info').delegate('.return-to-list','click', function(ev){
                Controller.hideMovieInfo()
            })
            $('.movies-stack').delegate('div.movie-block', 'nav_key:up nav_key:down', function(ev){
                var el = ev.currentTarget
                var dir = ev.keyName
                var navs = $('.movies-stack').find($$nav.area_selector).filter(':visible')
                var nextSibling = $$nav.findNav($(el), dir, navs)
                console.log(el,nextSibling,dir)
                if(!nextSibling){
                    if(dir == 'up'){
                        offset -= elsForPage
                        if(offset <= 0) {
                            offset = 0
                            $('.arrows .glyphicon.glyphicon-arrow-up').removeClass('waypoint')
                        }
                    }else if(dir == 'down'){
                        offset += elsForPage
                        $('.arrows .glyphicon.glyphicon-arrow-up').addClass('waypoint')
                        //TODO: upper bound
                    }
                    $$nav.off()
                    Controller.showMoviesList(genre, offset, elsForPage)
                }
            })
            $('.arrows .glyphicon').on('click', function(evy){
                var el = evy.currentTarget
                if ( $(el).hasClass('glyphicon-arrow-up') ){
                    offset -= elsForPage
                    if(offset <= 0) {
                        offset = 0
                        $(el).removeClass('waypoint')
                    }
                }
                if ( $(el).hasClass('glyphicon-arrow-down') ){
                    offset += elsForPage
                    $('.arrows .glyphicon.glyphicon-arrow-up').addClass('waypoint')
                }
                Controller.showMoviesList(genre, offset, elsForPage)
            })
            $('.search-box #movie-search').SBInput({
                keyboard:{
                    type:'fulltext_ru',
                    firstLayout:'ru'
                }
            })
            $('.search-box #movie-search').on('keyboard_complete', function(ev){
                searchString = encodeURIComponent($(ev.currentTarget).val())
                Controller.showMoviesList(0, 0, 12, searchString)
            })
            $(document.body).on('nav_key:red',function(evy){
                Controller.stopMovie()
            })
            /*Player Controls*/
            $(document.body).on('nav_key:play',function(evy){
                Player.resume()
            })
            $(document.body).on('nav_key:pause',function(evy){
                Player.pause()
            })
            $(document.body).on('nav_key:ff',function(evy){
                Player.seek(Player.videoInfo.currentTime+((Player.videoInfo.duration/100)*5))
            })
            $(document.body).on('nav_key:rw',function(evy){
                Player.seek(Player.videoInfo.currentTime-((Player.videoInfo.duration/100)*5))
            })
            /*Debug*/
            /*$(document.body).on('nav_key:green', function(evy){
             var rect = document.body.getBoundingClientRect()
             var rect2 = document.body.getClientRects()
             $$log([rect.height, rect.width])
             $$log([rect2.height, rect2.width])
             })
             $(document.body).on('mousemove',function(evy){
             $$log([evy.clientX, evy.clientY])
             })*/
        })
    })
</script>
{% endblock %}


{% block title %}
	[[ parent() ]]
	AppBundle:Index:main{% endblock %}

{% block body %}
	<div>
<h1>Welcome to the Index:main page</h1>

<div class="jumbotron">
	<div class="container">
		<h1>Greetings</h1>
		<p>Contents...</p>
		<p>
			<a class="btn btn-primary btn-lg">Learn more</a>
		</p>
	</div>
</div>
	<div class="alert">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<strong>Title!</strong> Alert body ...
	</div>
	<a class="btn btn-primary" data-toggle="modal" href="modal-id">Trigger modal</a>
	<div class="modal fade" id="modal-id">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Modal title</h4>
				</div>
				<div class="modal-body">
					Modal body ...
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	<table class="table table-hover">
		<thead>
			<tr>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td></td>
			</tr>
		</tbody>
	</table>
	<ul class="nav nav-tabs" role="tablist">
		<li class="active"><a href="#">Home</a></li>
		<li><a href="#">Help</a></li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				Dropdown <span class="caret"></span>
			</a>
			<ul class="dropdown-menu" role="menu">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li class="divider"></li>
				<li><a href="#">Separated link</a></li>
			</ul>
		</li>
	</ul>
	<div class="row"><div class="col-sm-3 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img data-src="3" alt="">
			<div class="caption">
				<h3>Title</h3>
				<p>
					Content...
				</p>
				<p>
					<a href="#" class="btn btn-primary">Action</a>
					<a href="#" class="btn btn-default">Action</a>
				</p>
			</div>
		</div>
	</div><div class="col-sm-3 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img data-src="3" alt="">
			<div class="caption">
				<h3>Title</h3>
				<p>
					Content...
				</p>
				<p>
					<a href="#" class="btn btn-primary">Action</a>
					<a href="#" class="btn btn-default">Action</a>
				</p>
			</div>
		</div>
	</div><div class="col-sm-3 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img data-src="3" alt="">
			<div class="caption">
				<h3>Title</h3>
				<p>
					Content...
				</p>
				<p>
					<a href="#" class="btn btn-primary">Action</a>
					<a href="#" class="btn btn-default">Action</a>
				</p>
			</div>
		</div>
	</div><div class="col-sm-3 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img data-src="3" alt="">
			<div class="caption">
				<h3>Title</h3>
				<p>
					Content...
				</p>
				<p>
					<a href="#" class="btn btn-primary">Action</a>
					<a href="#" class="btn btn-default">Action</a>
				</p>
			</div>
		</div>
	</div><div class="col-sm-3 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img data-src="3" alt="">
			<div class="caption">
				<h3>Title</h3>
				<p>
					Content...
				</p>
				<p>
					<a href="#" class="btn btn-primary">Action</a>
					<a href="#" class="btn btn-default">Action</a>
				</p>
			</div>
		</div>
	</div><div class="col-sm-3 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img data-src="3" alt="">
			<div class="caption">
				<h3>Title</h3>
				<p>
					Content...
				</p>
				<p>
					<a href="#" class="btn btn-primary">Action</a>
					<a href="#" class="btn btn-default">Action</a>
				</p>
			</div>
		</div>
	</div><div class="col-sm-3 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img data-src="3" alt="">
			<div class="caption">
				<h3>Title</h3>
				<p>
					Content...
				</p>
				<p>
					<a href="#" class="btn btn-primary">Action</a>
					<a href="#" class="btn btn-default">Action</a>
				</p>
			</div>
		</div>
	</div><div class="col-sm-3 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img data-src="3" alt="">
			<div class="caption">
				<h3>Title</h3>
				<p>
					Content...
				</p>
				<p>
					<a href="#" class="btn btn-primary">Action</a>
					<a href="#" class="btn btn-default">Action</a>
				</p>
			</div>
		</div>
	</div><div class="col-sm-3 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img data-src="3" alt="">
			<div class="caption">
				<h3>Title</h3>
				<p>
					Content...
				</p>
				<p>
					<a href="#" class="btn btn-primary">Action</a>
					<a href="#" class="btn btn-default">Action</a>
				</p>
			</div>
		</div>
	</div><div class="col-sm-3 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img data-src="3" alt="">
			<div class="caption">
				<h3>Title</h3>
				<p>
					Content...
				</p>
				<p>
					<a href="#" class="btn btn-primary">Action</a>
					<a href="#" class="btn btn-default">Action</a>
				</p>
			</div>
		</div>
	</div><div class="col-sm-3 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img data-src="3" alt="">
			<div class="caption">
				<h3>Title</h3>
				<p>
					Content...
				</p>
				<p>
					<a href="#" class="btn btn-primary">Action</a>
					<a href="#" class="btn btn-default">Action</a>
				</p>
			</div>
		</div>
	</div><div class="col-sm-3 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img data-src="3" alt="">
			<div class="caption">
				<h3>Title</h3>
				<p>
					Content...
				</p>
				<p>
					<a href="#" class="btn btn-primary">Action</a>
					<a href="#" class="btn btn-default">Action</a>
				</p>
			</div>
		</div>
	</div><div class="col-sm-3 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img data-src="3" alt="">
			<div class="caption">
				<h3>Title</h3>
				<p>
					Content...
				</p>
				<p>
					<a href="#" class="btn btn-primary">Action</a>
					<a href="#" class="btn btn-default">Action</a>
				</p>
			</div>
		</div>
	</div><div class="col-sm-3 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img data-src="3" alt="">
			<div class="caption">
				<h3>Title</h3>
				<p>
					Content...
				</p>
				<p>
					<a href="#" class="btn btn-primary">Action</a>
					<a href="#" class="btn btn-default">Action</a>
				</p>
			</div>
		</div>
	</div><div class="col-sm-3 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img data-src="3" alt="">
			<div class="caption">
				<h3>Title</h3>
				<p>
					Content...
				</p>
				<p>
					<a href="#" class="btn btn-primary">Action</a>
					<a href="#" class="btn btn-default">Action</a>
				</p>
			</div>
		</div>
	</div><div class="col-sm-3 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img data-src="3" alt="">
			<div class="caption">
				<h3>Title</h3>
				<p>
					Content...
				</p>
				<p>
					<a href="#" class="btn btn-primary">Action</a>
					<a href="#" class="btn btn-default">Action</a>
				</p>
			</div>
		</div>
	</div><div class="col-sm-3 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img data-src="3" alt="">
			<div class="caption">
				<h3>Title</h3>
				<p>
					Content...
				</p>
				<p>
					<a href="#" class="btn btn-primary">Action</a>
					<a href="#" class="btn btn-default">Action</a>
				</p>
			</div>
		</div>
	</div><div class="col-sm-3 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img data-src="3" alt="">
			<div class="caption">
				<h3>Title</h3>
				<p>
					Content...
				</p>
				<p>
					<a href="#" class="btn btn-primary">Action</a>
					<a href="#" class="btn btn-default">Action</a>
				</p>
			</div>
		</div>
	</div><div class="col-sm-3 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img data-src="3" alt="">
			<div class="caption">
				<h3>Title</h3>
				<p>
					Content...
				</p>
				<p>
					<a href="#" class="btn btn-primary">Action</a>
					<a href="#" class="btn btn-default">Action</a>
				</p>
			</div>
		</div>
	</div><div class="col-sm-3 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img data-src="3" alt="">
			<div class="caption">
				<h3>Title</h3>
				<p>
					Content...
				</p>
				<p>
					<a href="#" class="btn btn-primary">Action</a>
					<a href="#" class="btn btn-default">Action</a>
				</p>
			</div>
		</div>
	</div><div class="col-sm-3 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img data-src="3" alt="">
			<div class="caption">
				<h3>Title</h3>
				<p>
					Content...
				</p>
				<p>
					<a href="#" class="btn btn-primary">Action</a>
					<a href="#" class="btn btn-default">Action</a>
				</p>
			</div>
		</div>
	</div><div class="col-sm-3 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img data-src="3" alt="">
			<div class="caption">
				<h3>Title</h3>
				<p>
					Content...
				</p>
				<p>
					<a href="#" class="btn btn-primary">Action</a>
					<a href="#" class="btn btn-default">Action</a>
				</p>
			</div>
		</div>
	</div><div class="col-sm-3 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img data-src="3" alt="">
			<div class="caption">
				<h3>Title</h3>
				<p>
					Content...
				</p>
				<p>
					<a href="#" class="btn btn-primary">Action</a>
					<a href="#" class="btn btn-default">Action</a>
				</p>
			</div>
		</div>
	</div><div class="col-sm-3 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img data-src="3" alt="">
			<div class="caption">
				<h3>Title</h3>
				<p>
					Content...
				</p>
				<p>
					<a href="#" class="btn btn-primary">Action</a>
					<a href="#" class="btn btn-default">Action</a>
				</p>
			</div>
		</div>
	</div><div class="col-sm-3 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img data-src="3" alt="">
			<div class="caption">
				<h3>Title</h3>
				<p>
					Content...
				</p>
				<p>
					<a href="#" class="btn btn-primary">Action</a>
					<a href="#" class="btn btn-default">Action</a>
				</p>
			</div>
		</div>
	</div><div class="col-sm-3 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img data-src="3" alt="">
			<div class="caption">
				<h3>Title</h3>
				<p>
					Content...
				</p>
				<p>
					<a href="#" class="btn btn-primary">Action</a>
					<a href="#" class="btn btn-default">Action</a>
				</p>
			</div>
		</div>
	</div><div class="col-sm-3 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img data-src="3" alt="">
			<div class="caption">
				<h3>Title</h3>
				<p>
					Content...
				</p>
				<p>
					<a href="#" class="btn btn-primary">Action</a>
					<a href="#" class="btn btn-default">Action</a>
				</p>
			</div>
		</div>
	</div><div class="col-sm-3 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img data-src="3" alt="">
			<div class="caption">
				<h3>Title</h3>
				<p>
					Content...
				</p>
				<p>
					<a href="#" class="btn btn-primary">Action</a>
					<a href="#" class="btn btn-default">Action</a>
				</p>
			</div>
		</div>
	</div></div>
	<div class="affix affix-fixed affix-bottom" data-spy="affix" data-offset-top="60" data-offset-bottom="200"></div>
</div>
	<div>
<h1>Welcome to the Index:main page</h1>

<div class="jumbotron">
	<div class="container">
		<h1>Greetings</h1>
		<p>Contents...</p>
		<p>
			<a class="btn btn-primary btn-lg">Learn more</a>
		</p>
	</div>
</div>
	<div class="alert">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
		<strong>Title!</strong> Alert body ...
	</div>
	<a class="btn btn-primary" data-toggle="modal" href="modal-id">Trigger modal</a>
	<div class="modal fade" id="modal-id">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Modal title</h4>
				</div>
				<div class="modal-body">
					Modal body ...
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
	<table class="table table-hover">
		<thead>
			<tr>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td></td>
			</tr>
		</tbody>
	</table>
	<ul class="nav nav-tabs" role="tablist">
		<li class="active"><a href="#">Home</a></li>
		<li><a href="#">Help</a></li>
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				Dropdown <span class="caret"></span>
			</a>
			<ul class="dropdown-menu" role="menu">
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li class="divider"></li>
				<li><a href="#">Separated link</a></li>
			</ul>
		</li>
	</ul>
	<div class="row"><div class="col-sm-3 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img data-src="3" alt="">
			<div class="caption">
				<h3>Title</h3>
				<p>
					Content...
				</p>
				<p>
					<a href="#" class="btn btn-primary">Action</a>
					<a href="#" class="btn btn-default">Action</a>
				</p>
			</div>
		</div>
	</div><div class="col-sm-3 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img data-src="3" alt="">
			<div class="caption">
				<h3>Title</h3>
				<p>
					Content...
				</p>
				<p>
					<a href="#" class="btn btn-primary">Action</a>
					<a href="#" class="btn btn-default">Action</a>
				</p>
			</div>
		</div>
	</div><div class="col-sm-3 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img data-src="3" alt="">
			<div class="caption">
				<h3>Title</h3>
				<p>
					Content...
				</p>
				<p>
					<a href="#" class="btn btn-primary">Action</a>
					<a href="#" class="btn btn-default">Action</a>
				</p>
			</div>
		</div>
	</div><div class="col-sm-3 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img data-src="3" alt="">
			<div class="caption">
				<h3>Title</h3>
				<p>
					Content...
				</p>
				<p>
					<a href="#" class="btn btn-primary">Action</a>
					<a href="#" class="btn btn-default">Action</a>
				</p>
			</div>
		</div>
	</div><div class="col-sm-3 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img data-src="3" alt="">
			<div class="caption">
				<h3>Title</h3>
				<p>
					Content...
				</p>
				<p>
					<a href="#" class="btn btn-primary">Action</a>
					<a href="#" class="btn btn-default">Action</a>
				</p>
			</div>
		</div>
	</div><div class="col-sm-3 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img data-src="3" alt="">
			<div class="caption">
				<h3>Title</h3>
				<p>
					Content...
				</p>
				<p>
					<a href="#" class="btn btn-primary">Action</a>
					<a href="#" class="btn btn-default">Action</a>
				</p>
			</div>
		</div>
	</div><div class="col-sm-3 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img data-src="3" alt="">
			<div class="caption">
				<h3>Title</h3>
				<p>
					Content...
				</p>
				<p>
					<a href="#" class="btn btn-primary">Action</a>
					<a href="#" class="btn btn-default">Action</a>
				</p>
			</div>
		</div>
	</div><div class="col-sm-3 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img data-src="3" alt="">
			<div class="caption">
				<h3>Title</h3>
				<p>
					Content...
				</p>
				<p>
					<a href="#" class="btn btn-primary">Action</a>
					<a href="#" class="btn btn-default">Action</a>
				</p>
			</div>
		</div>
	</div><div class="col-sm-3 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img data-src="3" alt="">
			<div class="caption">
				<h3>Title</h3>
				<p>
					Content...
				</p>
				<p>
					<a href="#" class="btn btn-primary">Action</a>
					<a href="#" class="btn btn-default">Action</a>
				</p>
			</div>
		</div>
	</div><div class="col-sm-3 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img data-src="3" alt="">
			<div class="caption">
				<h3>Title</h3>
				<p>
					Content...
				</p>
				<p>
					<a href="#" class="btn btn-primary">Action</a>
					<a href="#" class="btn btn-default">Action</a>
				</p>
			</div>
		</div>
	</div><div class="col-sm-3 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img data-src="3" alt="">
			<div class="caption">
				<h3>Title</h3>
				<p>
					Content...
				</p>
				<p>
					<a href="#" class="btn btn-primary">Action</a>
					<a href="#" class="btn btn-default">Action</a>
				</p>
			</div>
		</div>
	</div><div class="col-sm-3 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img data-src="3" alt="">
			<div class="caption">
				<h3>Title</h3>
				<p>
					Content...
				</p>
				<p>
					<a href="#" class="btn btn-primary">Action</a>
					<a href="#" class="btn btn-default">Action</a>
				</p>
			</div>
		</div>
	</div><div class="col-sm-3 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img data-src="3" alt="">
			<div class="caption">
				<h3>Title</h3>
				<p>
					Content...
				</p>
				<p>
					<a href="#" class="btn btn-primary">Action</a>
					<a href="#" class="btn btn-default">Action</a>
				</p>
			</div>
		</div>
	</div><div class="col-sm-3 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img data-src="3" alt="">
			<div class="caption">
				<h3>Title</h3>
				<p>
					Content...
				</p>
				<p>
					<a href="#" class="btn btn-primary">Action</a>
					<a href="#" class="btn btn-default">Action</a>
				</p>
			</div>
		</div>
	</div><div class="col-sm-3 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img data-src="3" alt="">
			<div class="caption">
				<h3>Title</h3>
				<p>
					Content...
				</p>
				<p>
					<a href="#" class="btn btn-primary">Action</a>
					<a href="#" class="btn btn-default">Action</a>
				</p>
			</div>
		</div>
	</div><div class="col-sm-3 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img data-src="3" alt="">
			<div class="caption">
				<h3>Title</h3>
				<p>
					Content...
				</p>
				<p>
					<a href="#" class="btn btn-primary">Action</a>
					<a href="#" class="btn btn-default">Action</a>
				</p>
			</div>
		</div>
	</div><div class="col-sm-3 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img data-src="3" alt="">
			<div class="caption">
				<h3>Title</h3>
				<p>
					Content...
				</p>
				<p>
					<a href="#" class="btn btn-primary">Action</a>
					<a href="#" class="btn btn-default">Action</a>
				</p>
			</div>
		</div>
	</div><div class="col-sm-3 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img data-src="3" alt="">
			<div class="caption">
				<h3>Title</h3>
				<p>
					Content...
				</p>
				<p>
					<a href="#" class="btn btn-primary">Action</a>
					<a href="#" class="btn btn-default">Action</a>
				</p>
			</div>
		</div>
	</div><div class="col-sm-3 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img data-src="3" alt="">
			<div class="caption">
				<h3>Title</h3>
				<p>
					Content...
				</p>
				<p>
					<a href="#" class="btn btn-primary">Action</a>
					<a href="#" class="btn btn-default">Action</a>
				</p>
			</div>
		</div>
	</div><div class="col-sm-3 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img data-src="3" alt="">
			<div class="caption">
				<h3>Title</h3>
				<p>
					Content...
				</p>
				<p>
					<a href="#" class="btn btn-primary">Action</a>
					<a href="#" class="btn btn-default">Action</a>
				</p>
			</div>
		</div>
	</div><div class="col-sm-3 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img data-src="3" alt="">
			<div class="caption">
				<h3>Title</h3>
				<p>
					Content...
				</p>
				<p>
					<a href="#" class="btn btn-primary">Action</a>
					<a href="#" class="btn btn-default">Action</a>
				</p>
			</div>
		</div>
	</div><div class="col-sm-3 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img data-src="3" alt="">
			<div class="caption">
				<h3>Title</h3>
				<p>
					Content...
				</p>
				<p>
					<a href="#" class="btn btn-primary">Action</a>
					<a href="#" class="btn btn-default">Action</a>
				</p>
			</div>
		</div>
	</div><div class="col-sm-3 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img data-src="3" alt="">
			<div class="caption">
				<h3>Title</h3>
				<p>
					Content...
				</p>
				<p>
					<a href="#" class="btn btn-primary">Action</a>
					<a href="#" class="btn btn-default">Action</a>
				</p>
			</div>
		</div>
	</div><div class="col-sm-3 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img data-src="3" alt="">
			<div class="caption">
				<h3>Title</h3>
				<p>
					Content...
				</p>
				<p>
					<a href="#" class="btn btn-primary">Action</a>
					<a href="#" class="btn btn-default">Action</a>
				</p>
			</div>
		</div>
	</div><div class="col-sm-3 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img data-src="3" alt="">
			<div class="caption">
				<h3>Title</h3>
				<p>
					Content...
				</p>
				<p>
					<a href="#" class="btn btn-primary">Action</a>
					<a href="#" class="btn btn-default">Action</a>
				</p>
			</div>
		</div>
	</div><div class="col-sm-3 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img data-src="3" alt="">
			<div class="caption">
				<h3>Title</h3>
				<p>
					Content...
				</p>
				<p>
					<a href="#" class="btn btn-primary">Action</a>
					<a href="#" class="btn btn-default">Action</a>
				</p>
			</div>
		</div>
	</div><div class="col-sm-3 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img data-src="3" alt="">
			<div class="caption">
				<h3>Title</h3>
				<p>
					Content...
				</p>
				<p>
					<a href="#" class="btn btn-primary">Action</a>
					<a href="#" class="btn btn-default">Action</a>
				</p>
			</div>
		</div>
	</div><div class="col-sm-3 col-md-3 col-lg-3">
		<div class="thumbnail">
			<img data-src="3" alt="">
			<div class="caption">
				<h3>Title</h3>
				<p>
					Content...
				</p>
				<p>
					<a href="#" class="btn btn-primary">Action</a>
					<a href="#" class="btn btn-default">Action</a>
				</p>
			</div>
		</div>
	</div></div>
	<div class="affix affix-fixed affix-bottom" data-spy="affix" data-offset-top="60" data-offset-bottom="200"></div>
</div>
</div>
	{% endblock %}