<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!-- Latest compiled and minified CSS & JS -->
    <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.10.0/lodash.js"></script>
    {% block lodash_templates %}{% endblock %}
</head>
<body>
{#<nav class="navbar navbar-default navbar-static-top" role="navigation">#}
	{#<a class="navbar-brand" href="#">{% block title %}{% endblock %}</a>#}
	{#<ul class="nav navbar-nav">#}
        {#<li>#}
            {#<div class="dropdown">#}
              {#<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">#}
                {#categories#}
                {#<span class="caret"></span>#}
              {#</button>#}
              {#<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">#}
                {#<li role="presentation" class="dropdown-header">Dropdown header</li>#}
                {#<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>#}
                {#<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>#}
                {#<li role="presentation" class="disabled"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>#}
                {#<li role="presentation" class="divider"></li>#}
                {#<li role="presentation" class="dropdown-header">Dropdown header</li>#}
                {#<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>#}
              {#</ul>#}
            {#</div>#}
        {#</li>#}
        {#<li><a href="#">store</a></li>#}
        {#<li><a href="#">discounts</a></li>#}
        {#<li class="active">#}
			{#<a href="#">cart</a>#}
		{#</li>#}
		{#<li>#}
			{#<a href="#">profile</a>#}
		{#</li>#}
	{#</ul>#}
{#</nav>#}
{#<div class="page-header">#}
  {#<h1>Title<small></small></h1>#}
{#</div>#}
{% block body %}{% endblock %}
{% block body2 %}{% endblock %}
</body>
</html>