

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dot44</title>
    {% stylesheets filter="compass"
        "%kernel.root_dir%/Resources/assets/css/main.sass"
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    <script>
        window.onload = function(){
            function addError(errorObj, form){
                console.log(errorObj)
                form.elements[errorObj.field].classList.add('error')
                form.querySelector('*[name='+errorObj.field+'] + span.error-message').textContent = errorObj.error
            }
            document.querySelector('.quote-request').onsubmit = function(evy){
                evy.preventDefault()
                fields = {}
                fields.name = this.elements.name.value
                fields.email = this.elements.email.value
                fields.message = this.elements.message.value
                for(field in fields){
                    this.elements[field].classList.remove('error')
                    this.querySelector('*[name='+field+'] + span.error-message').textContent = ''
                }
                mail_re = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/
                errors = []
                if (!(fields.name += '') || fields.name === '') { errors.push({ error: "No Name Given.", field: 'name' })}
                if (!(fields.email += '') || fields.email === '') { errors.push({ error: "No Email Given.", field: 'email' })}
                else if (!(mail_re.test(fields.email))) { errors.push({ error: "Email is not valid", field: 'email' })}
                if (!(fields.message += '') || fields.message === '') { errors.push({ error: "No Message Given.", field: 'message' })}
                for(error in errors){
                    addError(errors[error], this)
                }
                if(errors.length === 0) this.send()
            }
        }
    </script>
</head>
<body>
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div class="logo">
                    <b>DOT
                        <span>
                            <span class="square">
                                <span class="square">
                                    <span>44</span>
                                </span>
                            </span>
                        </span>
                    </b>
                    SOFTWARE STUDIO
                </div>
            </div>
            <div class="col-xs-6">
                <div class="menu">
                    <ul>
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="big-headline">
    <div class="container"><h2>European Mobile Application Development Company</h2></div>
</div>
<div class="apps">
    <div class="container">
        <div class="row">
            <div class="app col-xs-4">
                {% image '%kernel.root_dir%/Resources/assets/images/1.png' %}
                <img src="{{ asset_url }}" alt="Business Apps" />
                {% endimage %}<br>Business Apps</div>
            <div class="app col-xs-4">{% image '%kernel.root_dir%/Resources/assets/images/2.png' %}
                <img src="{{ asset_url }}" alt="Business Apps" />
                {% endimage %}<br>Entertainment Apps</div>
            <div class="app col-xs-4">{% image '%kernel.root_dir%/Resources/assets/images/3.png' %}
                <img src="{{ asset_url }}" alt="Business Apps" />
                {% endimage %}<br>Gaming Apps</div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-xs-7">
                <div class="left">
                    <div>
                        <p>Mobile phone application development for business for all around the world across
                            all major smartphone platforms.</p>
                        <p>We can take your business with fast and affordable mobile application development,
                            which can potentially deliver your products or services to millions of people.</p>
                        <h2 class="headline"> Our first class mobile application team will design and build an application
                            specifically for your company</h2>
                        <p>We can provide you with any mobile application (for iPhone, Android or Windows) be it a game,
                            simple advertisement, educational or business application of any level of complexity.</p>
                        <p>Smartphone's are everywhere and many of our customers will be using them, isn't it time
                            you considered app development and took your business mobile?</p>
                        <p>Now it's time to take your company mobile through dedicated and branded application.
                            Remember, while you are thinking about it, your competitors are doing it -
                            so don't delay - take action today.</p>
                    </div>
                    <div>
                        <h2 class="headline blue">
                            If you are considering mobile application development, then call one of our consultants now on
                            <span class="phone"> <small>+371</small> 2 9153367 </span> to see how you could get you business mobile.
                        </h2>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 col-xs-offset-1">
                <div class="right">
                    <div class="info-block">
                        <h2>Request for quote</h2>
                        <form class="quote-request" action="/request-quote" method="post">
                            <div class="row">
                                <label for="name">Your Name:</label><br>
                                <input type="text" name="name" id="name">
                                <span class="error-message"></span>
                            </div>
                            <div class="row">
                                <label for="email">E-mail:</label><br>
                                <input type="text" name="email" id="email">
                                <span class="error-message"></span>
                            </div>
                            <div class="row">
                                <label for="message">Message</label><br>
                                <textarea name="message" id="message" cols="30" rows="10"></textarea>
                                <span class="error-message"></span>
                            </div>
                            <div class="row"><input class="float-right" type="submit" value="Send"></div>
                        </form>
                    </div>
                    <div class="info-block">
                        <h2>Client testimonials</h2>
                        <div class="client-review">
                            <div class="name">Jeff Richards</div>
                            <div class="company">YellowPages Company</div>
                            <div class="quote-mark">&#8220;</div>
                            <div class="quote">We were and still on a mission to change the world as we know it.
                                Six years and lots of blood, sweat and tears later, we know how.
                            </div>
                        </div>
                        <button class="float-right">Learn More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div class="menu">
                    <ul>
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div class="social-buttons">
                    <button class="facebook"></button>
                    <button class="twitter"></button>
                    <button class="linkedin"></button>
                </div>
            </div>
            <div class="col-xs-4 col-xs-offset-2">
                <div class="copyright">Copyright &copy; 2012 DOT 44, All Rights Reserved.</div>
            </div>
        </div>
    </div>
</div>
</body>
</html>